body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
  }
  .container {
    margin: 0 auto;
    max-width: 280px;
    padding: 0 10px;
  }
  @media (min-width:481px){
    .container{
      max-width: 992px;
    }
  }
  @media (min-width:993px){
    .container{
      max-width: 1200px;
    }
  }
  