@mixin flex($justify: center, $align: center,  $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}


///Typography

@mixin h1Header {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  padding: 50px 0 19px;
}

///Cards

@mixin priceCard {
  width: 257px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.11;
}

@mixin priceCardActive {
  width: 299px;
  background: #463048;
  mix-blend-mode: normal;
  opacity: 0.84;
}

///buttons

@mixin buttonMain {
  width: 119px;
  height: 37px;
  background: #8D81AC;
  border-radius: 40px;
  border: none;
  font-size: 15px;
  line-height: 15px;
  color: white;
  font-weight: bold;
}
@mixin buttonSecondary {
  width: 280px;
  height: 37px;
  background: #8D81AC;
  border-radius: 40px;
  border: none;
  font-size: 15px;
  line-height: 15px;
  color: white;
  font-weight: bold;
}

@mixin background($position: center, $repeat: no-repeat, $size: cover){
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}

@mixin menu-item-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: $basic-color;
}

  