//Breakpoints

$mobile: 280px;
$tablet: 481px;
$desktop: 1200px;

//Colors

$mainColor: #8D81AC;
$WhiteColor: #FFFFFF;
$TextColor: #323232;
$textGrey: #848E97;
$liBackground: #333333;
$liBorder: #3B3B3B;
$mobileNav: #27262A;

$basic-color : #8D81AC;
